<footer class="container">
    <div class="container mx-1">
        <div class="row row-social-net">
            <p>REDES SOCIALES</p>
        </div>
    <div class="row row-content border-top">
        <div class="col-sm-4">
            <span><i class="fa fa-envelope-open-o fa-2x" aria-hidden="true"></i></span> 
            <h3 class="my-3">Subscribe to the newsletter </h3>
            <div class="row d-flex my-2 pr-2 pr-md-5 div1">
                <form class="d-flex">
                    <input class="form-control me-1 rounded-pill" type="text" placeholder="example@email.com">
                    <button class="btn btn-letter rounded-pill text-white fw-bold me-2 " type="button" id="btn-letter">OK</button>
                </form>
            </div>
        </div>
        <div class="col-sm-2">
            <a class="navbar-brand" href="/">
                <img class="px-1" src="/assets/images/logoFooter.svg" alt="logo-Imperial" id="logoFooter">
            </a>
        </div>
        <div class="col-sm-6 row">
            <div class="col-sm-3">
                <h3>Secciones</h3>
            </div>
            <div class="col-sm-3">
                <h3>Asistencia</h3>
            </div>
            <div class="col-sm-3">
                <h3>Contactanos</h3>
                <address>
                    <p>Ubicacion</p>
                    <p> imperial@gmail.com</p>
                    <p>+34 999-999-999</p>
                </address>
            </div>
        </div>
    </div>
    <!--licenses-->
    <div class="row row-licenses border-top text-center">
        <p>licencias</p>
    </div>
</div>
</footer>